{% extends "base.html" %}
{% block head_block %}
<script> 
<!--
document.title='您查看的页面没有找到哦(404)~~~~';
-->
</script> 
{% endblock %}
{% block content %}
<div id="content">
	对不起，您请求的页面未找到，请确认页面网址是否正确！
	This theme is designed by Nick La who also runs on
	<a href="http://www.webdesignerwall.com">Web Designer Wall</a>, 
	and changed by <a href="https://www.twitter.com/amaozhao">Amao Zhao</a> for 
	<a href="http://micolog.appspot.com">micolog</a>.
	If any question, you can contact <a mailto="amaozhao@gmail.com">Me</a>.
	<p align="center" style="font-size:192px;" onmouseover="this.innerHTML='4☻4'" onmouseout="this.innerHTML='4☺4'">4☺4</p>
</div>
{% endblock %}