<div class="dbx-group" id="sidebar" style="position: relative; display: block; ">
  	<div id="annoucement" class="dbx-box widget_themeswitcher dbx-box-open dbxid0" style="position: relative; display: block; ">
	  	<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">公告<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
	  	<div class="dbx-content">
	  		<ul id="themeswitcher">
	       		<li>{{ blog.blognotice }}</li>
			</ul>
		</div>
	</div>
	
	<div id="about" class="dbx-box widget_text dbx-box-open dbxid1" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">关于我<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<div class="textwidget">
				{%include "about.html"%}
			</div>
		</div>
	</div>

	<div id="recent-posts-3" class="dbx-box widget_recent_entries dbx-box-open dbxid2" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">热门文章<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul>
				{% for entry in blog.hotposts %}
					<li  class="cat-item"  ><a href="/{{entry.link}}">{{entry.title}} [{{entry.readtimes}}]</a> </li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div id="categories" class="dbx-box widget_recent_entries dbx-box-open dbxid3" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">文章分类<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul>
		    	{%for cate in categories%}
		      		<li class="cat-item" ><a href="/category/{{cate.slug}}">{{cate.name}}({{cate.count}})</a></li>
		      	{%endfor%}
			</ul>
		</div>
	</div>
	
	<div id="tags" class="dbx-box widget_recent_entries dbx-box-open dbxid4" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">标签云<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul>
				{% for t in alltags %}
					<a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div id="archives" class="dbx-box widget_recent_entries dbx-box-open dbxid5" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">归档<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul>
				{%for archive in archives%}
				<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
				{%endfor%}
			</ul>
		</div>
	</div>
	
	<div id="rss" class="dbx-box widget_rss dbx-box-open dbxid8" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">
			<a class="rsswidget rss" href="{{blog.baseurl}}" title="订阅本站">
				订阅本站
			</a> 
			<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a>
		</h3>
		<div class="dbx-content">
			<ul>
		    	<li><a href="{{blog.baseurl}}/feed" target="_blank">订阅文章</a></li>
		        <li><a href="{{blog.baseurl}}/feed/comments" target="_blank">订阅评论</a></li>
                <li><a href="http://www.google.com/reader/preview/*/feed/{{blog.feedurl}}" target="_blank">订阅到 <strong>Google Reader</strong></a></li>
                <li><a href="http://www.zhuaxia.com/add_channel.php?url={{blog.feedurl}}" target="_blank">订阅到 <strong>抓虾</strong></a></li>
	            <li><a href="http://www.xianguo.com/subscribe.php?url={{blog.feedurl}}" target="_blank">订阅到 <strong>鲜果</strong></a></li>
	            <li><a href="http://mail.qq.com/cgi-bin/feed?u={{blog.feedurl}}" target="_blank">订阅到 <strong>QQ</strong></a></li>
			</ul>
		</div>
	</div>
	
	<div id="recent-comments-3" class="dbx-box widget_recent_comments dbx-box-open dbxid7" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">最近评论<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul id="recentcomments">
				{% for comment in recent_comments %}
					<li class="submenu" ><a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}: {{comment.shortcontent|escape}}...</a></li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div id="blogroll" class="dbx-box widget_recent_entries dbx-box-open dbxid6" style="position: relative; display: block; ">
		<h3 class="dbx-handle dbx-handle-cursor" style="position: relative; display: block; " title="click-down and drag to move this box">友情链接<a style="cursor: pointer; " href="javascript:void(null)" class="dbx-toggle dbx-toggle-open" title="click to close this box">&nbsp;</a></h3>
		<div class="dbx-content">
			<ul>
		        {%for link in blogroll%}
		        	<li class="cat-item " ><a href="{{link.href}}" target="_blank">{{link.linktext}}</a></li>
		        {%endfor%}
			</ul>
		</div>
	</div>

	<span class="dbx-box dbx-dummy dbx-offdummy" style="display: block; width: 0px; height: 0px; overflow-x: hidden; overflow-y: hidden; "></span>
</div>