<div id="leftcol" >
<div id="menu">
<h2 class="menuheader">Pages</h2>
<div class="menucontent">
<ul>
<li id="home_link" class="{%if ishome%}current_page_item{%else%}page_item{%endif%}">
      <a href="{{ blog.baseurl }}" >Home</a>
    </li>
{{self.m_list_pages}}
    {% block topmenu %}
    {% endblock %}
{%mf nav_menu%}
{%endmf%}
</ul>
</div>

<h2 class="menuheader">Categories</h2>
<div class="menucontent">
<ul>
{%for cate in categories%}
  <li><a href="/category/{{cate.slug}}">{{cate.name}}({{cate.count}})</a></li>
 	{%endfor%}
</ul>
</div>


<h2 class="menuheader">Archives</h2>
<div class="menucontent">
<ul>
{%for archive in archives%}
		<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
		{%endfor%}
</ul>
</div>


<h2 class="menuheader">Links</h2>
<div class="menucontent">
<ul>
{%for link in blogroll%}
<li><a href="{{link.href}}">{{link.linktext}}</a></li>
{%endfor%}
</ul>
</div>

<h2 class="menuheader">Customise Color</h2>
<div class="menucontent">

<ul>
<li><a href="#" onclick="setActiveStyleSheet('white'); return false;">White</a></li>
<li><a href="#" onclick="setActiveStyleSheet('black'); return false;">Black</a></li>
<li><a href="#" onclick="setActiveStyleSheet('blue'); return false;">Blue</a></li>
<li><a href="#" onclick="setActiveStyleSheet('green'); return false;">Green</a></li>
<li><a href="#" onclick="setActiveStyleSheet('grey'); return false;">Grey</a></li>
</ul>

</div>



<h2 class="menuheader">Info</h2>
<div class="menucontent">
<ul>
<li><a href="http://www.techdesigns.co.uk" title="Designed by Techdesigns">Designed by Techdesigns</a></li>
<li><a href="http://binary-cat.appspot.com" title="Modified by Kevinis">Modified by Kevinis</a></li>
<li><a href="http://micolog.appspot.com/" title="Powered by Micolog, state-of-the-art semantic personal publishing platform.">Powered by Micolog</a></li>
</ul>
</div>

<h2 class="menuheader">Admin</a></h2>
<div class="menucontent">
<ul>
{%if self.is_admin%}
<li><a href="{{self.baseurl}}/admin" title="Admin Page">Admin Page</a></li>
<li><a href="{{self.logouturl}}" title="Log off">Log off</a></li>
{%else%}
<li><a href="{{self.baseurl}}/admin" title="Log in">Log in</a></li>
{%endif%}
</ul>
</div>

<h2 class="menuheader">RSS</a></h2>
<div class="menucontent">
<ul>
<li><a href="{{ blog.feedurl }}" title="Subscribe Blog">Subscribe Blog</a></li>
<li><a href="{{ blog.feedurl }}/comments" title="Subscribe Comments">Subscribe Comments</a></li>
</ul>
</div>

</div>
</div>
