{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}


{% block content %}
{% include "sidebar.html" %}
<div id="wrapper" class="clearfix" > 
<div id="maincol" >

{% if entry %}
<h2 class="contentheader"><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{entry.title}}">{{entry.title}}</a></h2>
<p>{{ entry.content }}</P>

<div id="postinfotext">
Posted On: {{ entry.date|datetz:"F jS, Y " }}<br/>
Category: {%for cate in entry.categories%} 
	<a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}<br/>
{% if entry.strtags %}
Tags: {%for tag in entry.tags%}
    <a href="/tag/{{tag|urlencode}}">{{tag}} </a>{%endfor%}<br/>
{%endif%}
Read times: {{entry.readtimes}}<br/>
<a href="/{{entry.link}}#comments">Comments: {{entry.commentcount}}</a><br/>
Share it: 
<a href="javascript:window.open('http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&title='+encodeURIComponent('{{entry.title}}')+'&jumpback=2&noui=1','favit','width=600,height=400,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/renren.ico" alt="人人网" title="分享到人人网"></a>

<a onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&amp;title='+encodeURIComponent('{{entry.title}}'), 'delicious','toolbar=no,width=550,height=550,left=50,top=50,'); return false;" href="http://delicious.com/save">
<img width="16" height="16" src="http://yunshan.me/ico/delicious.ico" alt="Delicious" title="收藏到Delicious"></a>

<a href="javascript:window.open('http://www.google.com/bookmarks/mark?op=add&bkmk='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&title='+encodeURIComponent('{{entry.title}}')+'&jumpback=2&noui=1','favit','width=800,height=600,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/google.ico" alt="Google" title="添加到Google书签">
</a>

<a href="javascript:window.open('https://skydrive.live.com/sharefavorite.aspx/.SharedFavorites/?url='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&title='+encodeURIComponent('{{entry.title}}')+'&jumpback=2&noui=1','favit','width=640,height=600,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/live.gif" alt="Live收藏夹" title="添加到Live收藏夹">
</a>

<a href="javascript:window.open('http://cang.baidu.com/do/add?it='+encodeURIComponent('{{entry.title}}'.substring(0,76))+'&iu='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&fr=ien#nw=1','_blank','scrollbars=no,width=600,height=450,left=50,top=50,status=no,resizable=yes'); void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/baidu.gif" alt="百度搜藏" title="添加到百度搜藏">
</a>

<a href="javascript:window.open('http://shuqian.qq.com/post?from=3&title='+encodeURIComponent({{entry.title}})+'&uri='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&jumpback=2&noui=1','favit','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/qq.ico" alt="QQ书签" title="收藏到QQ书签">
</a>

<a href="javascript:window.open('http://www.kaixin001.com/~repaste/repaste.php?rtitle='+encodeURIComponent('{{entry.title}}')+'&url='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&jumpback=2&noui=1','favit','width=930,height=470,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/kaixin.ico" alt="开心网" title="分享到开心网">
</a>

<a href="javascript:window.open('http://www.douban.com/recommend/?url='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&title='+encodeURIComponent('{{entry.title}}')+'&jumpback=2&noui=1','favit','width=600,height=400,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/douban.ico" alt="豆瓣" title="推荐到豆瓣">
</a>

<a href="javascript:window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent('{{entry.title}}')+'&url='+encodeURIComponent('{{blog.baseurl}}/{{entry.link}}')+'&jumpback=2&noui=1','favit','width=600,height=400,left=50,top=50,toolbar=no,menubar=no,location=no,scrollbars=yes,status=yes,resizable=yes');void(0)">
<img width="16" height="16" src="http://yunshan.me/ico/sina.ico" alt="新浪微博" title="转发到新浪微博">
</a>
</div>

{% include "comments.html" %}

{% else %}
<p>No matching entries found.</p>
{% endif %}


</div>
</div>
{% endblock %}