{% extends "base.html" %}
{% block head_block %}
<meta name="Keywords" content="{{ blog.title|escape}}">
<meta name="Description" content="{{ blog.subtitle|escape}}">
{% endblock %}
{% block content%}
{% if entries %}
<div id="content"> {% for entry in entries %}
  <div class="post-{{entry.key}}">
    <div class="post-date"><span class="post-month">{{entry.date|datetz:"m"}}</span> <span class="post-day">{{entry.date|datetz:"d"}}</span></div>
    <div class="post-title-index">
      <h2><a href="/{{ entry.link }}" rel="bookmark" title="{{entry.title}}">{{entry.title}}</a></h2>
      <span class="post-cat"><a href="/{{ entry.link }}" title="View the detail" rel="category">Detail</a></span> <span class="post-comments"><a href="/{{entry.link}}#comments" title="The comments on {{entry.title}}">{{entry.comments.count}} Comments &#187;</a></span> </div>
    <div class="entry"> {{entry.content_excerpt}} </div>
    <div class="meta">{% if entry.strtags %}Tags: {%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}<br>
      <br>
      {%endif%}  Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} | {%if self.is_admin%}<a href="{{entry.edit_url}}">Edit</a> | {%endif%}</div>
  </div>
  {% endfor %}
<div class="navigation">
  {% if show_prev %}
    <div class="previous-entries"><a href="/page/{{ pageindex|add:"-1" }}">&laquo; PrePage</a></div>
  {% endif %}
  {% if show_next %}
  <div class="next-entries"><a href="/page/{{ pageindex|add:"1" }}">NextPage &raquo;</a></div>
  {% endif %}
</div>
</div>
<!--/content -->
{% endif %}
{% endblock %} 