{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
<meta name="Keywords" content="{{blog.title}}_{{entry.title}} ">
{%if entry.excerpt%}
<meta name="Description" content="{{entry.excerpt}}">
{%endif%}
{% endif %}
{% endblock %}
{% block content%}
<div id="content"> {% if entry %}
  <div class="post-{{entry.key}}">
    <div class="post-title">
      <h2>{{entry.title}}</h2>
    </div>
    <div class="entry"> {{ entry.content }} </div>
  </div>
</div>
<!--/content -->
{% endif %}
{% endblock %}