<ul>
  <li id="categories-420994551" class="widget widget_categories">
    <h2 class="sidebartitle">Categories</h2>
    <ul>
      {%for cate in categories%}
      <li class="cat-item cat-item-12"><a href="/category/{{cate.slug}}">{{cate.name}}({{cate.count}})</a></li>
      {%endfor%}
    </ul>
  </li>
  <li id="meta" class="widget widget_meta">
    <h2 class="sidebartitle">Meta</h2>
    <ul>
      {%if self.is_admin or self.author%}
      <li><a href="/admin" target="_blank">Manager</a> </li>
      {%endif%}
      {%if self.is_login%}
      <li><a href="{{self.logouturl}}">Logout</a></li>
      {%else%}
      <li><a href="/admin" target="_blank">Login</a></li>
      {%endif%}
      <li><a href="{{blog.feedurl}}" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
    </ul>
  </li>
  <li id="archives" class="widget widget_archive">
    <h2 class="sidebartitle">Links</h2>
    <ul>
      {%for link in blogroll%}
      <li><a href="{{link.href}}">{{link.linktext}}</a></li>
      {%endfor%}
    </ul>
  </li>
  <li id="archives" class="widget widget_archive">
    <h2 class="sidebartitle">Archives</h2>
    <ul>
      {%for archive in archives%}
      <li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}-{{archive.month}} [{{archive.entrycount}}]</a></li>
      {%endfor%}
    </ul>
  </li>
  <li id="tag_cloud" class="widget widget_tag_cloud">
    <h2 class="sidebartitle">Tags</h2>
    {% for t in alltags %} <a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}" class='tag-link-14' title='1 topic' style='font-size: 8pt;'>{{t.tag}}</a> {%endfor%} </li>
</ul>
