{% if entry.allow_comment %}
	<div id="respond">
		<h3>Leave a Reply</h3>
		<form action="/post_comment" method="post" id="commentform">
			<div class="left">
				<label for="author">Name (required)</label>
				<div class="field"><input type="text" name="author" id="author" value="" tabindex="1" /></div>
				
				<label for="email">Mail (will not be published)(required)</label>
				<div class="field"><input type="text" name="email" id="email" value="" tabindex="2" /></div>
				
				<label for="url">Website</label>
				<div class="field"><input type="text" name="url" id="url" value="" tabindex="3" /></div>
                {%ifequal blog.comment_check_type 1%}
    				<label for="checkret"><strong>请输入计算结果：<iframe src="/checkcode/"  style="width:80px;height:25px;border:0;"SCROLLING=no></iframe></strong></label>
    				<div class="field"><input type="text" name="checkret" id="checkret" value="" size="22" tabindex="4"></div>
                {%endifequal%}
                {%ifequal blog.comment_check_type 2%}
                    <div id="checkarea" style="padding-bottom:15px">
                    <div style="float:left;margin-right:8px;">
                    <input type="text" name="checkret" id="checkret" value="" size="5" tabindex="4" />
                    <label for="checkret"><small>Checkcode:</small></label>
                    </div>
                    <img id='checkimg' src='/checkimg/' style="border:0px;padding:0px;" title='Click to change image' onclick="reloadCheckImage();"/>
                    </div>
                {%endifequal%}
			</div>
            
			<div class="right">
				<label for="comment">Comment</label>
				<div class="textarea"><textarea name="comment" id="comment" cols="40" rows="10" tabindex="4" class="field"></textarea></div>
			</div>
            
			<div class="cl">&nbsp;</div>
            <input name="submit" type="submit" id="submit" tabindex="5" class="button" value="提交评论" />
            <input type="hidden" name="key" value="{{entry.key}}">
            <input type="hidden" name="checknum" id="checknum" value="{{checknum1}}+{{checknum2}}" />
			<div class="cl">&nbsp;</div>
		</form>
	</div>
{% else %}
    <p class="nocomments">评论已关闭</p>
{% endif %}

{% if entry.comments.count%}
	<div id="comments">
        <ol class="commentlist">
            {%for comment in comments%}
                <li class="comment even thread-even depth-1 comment">
                    <div class="comment-body" id="comment-{{comment.key.id}}">
                        <img alt='' src='{{comment.gravatar_url}}' class='avatar avatar-70 photo avatar-default' height='70' width='70' />
                        <p class="author">
                            <a href='{{comment.weburl}}' rel='external nofollow' class='url'>{{comment.author}}</a>
                        </p>
                        <p class="comment-meta">
                            {{comment.date|datetz:"Y-m-d"}} at {{comment.date|datetz:"H:i"}}
                        </p>
                        <div class="comment-content">
                          {{comment.content}}
                        </div>
                        <div class="cl">
                            &nbsp;
                        </div>
                    </div>
                </li>
             {%endfor%}
        </ol>
	</div>
{%endif%}
