<div class="post-{{entry.key}} post type-post hentry category-uncategorized tag-wordpress">
    <h2><a href="/{{entry.link}}" title="{{entry.title}}">{{entry.title}}</a></h2>
    <div class="date">
        <div class="bg">
            <span class="day">{{entry.date|date:"d"}}</span>
            <span>{{entry.date|date:"M"}}</span>
        </div>
    </div>
    
    <div class="entry">
        {{entry.content}}
        <div class="cl">&nbsp;</div>
    </div>
    
    <div class="meta">
        <div class="bg">
            <span class="comments-num">
                <a href="/{{entry.link}}#comments">({{entry.commentcount}})</a>
                {%if self.is_admin%} | <a href="{{entry.edit_url}}" >Edit</a>{%endif%}
            </span>
            <p>
                Posted in {% if entry.categories %}{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a>
                {%endfor%} {% else %}未分类 {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Tags: {% if entry.categories %}{%for tag in entry.tags%} <a href="/tag/{{tag|urlencode}}" rel="tag">{{tag}}</a> {%endfor%}
                 {% else %}未标记{% endif %}
            </p>
        </div>
        <div class="bot">&nbsp;</div>
    </div>
</div>