{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags}}">{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt}}">{%endif%}
{% endif %}
{% endblock %}
{% block content%}
    {% if entry %}
        <div class="post-{{entry.key}} post type-post hentry category-uncategorized tag-wordpress">
            <h2>{{entry.title}}</h2>
            <div class="date">
                <div class="bg">
                    <span class="day">{{entry.date|date:"d"}}</span>
                    <span>{{entry.date|date:"M"}}</span>
                </div>
            </div>
            <div class="entry">
                {{entry|excerpt_more:"(Read More..)"}}
                <div class="cl">&nbsp;</div>
            </div>
            <div class="meta">
                <div class="bg">
                    <span class="comments-num"><a href="/{{entry.link}}#comments">({{entry.commentcount}})</a></span>
                    <p>
                        Posted in {% if entry.categories %}{%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a>
                        {%endfor%} {% else %}未分类 {% endif %}
                    </p>
                </div>
                <div class="bot">&nbsp;</div>
            </div>
            <p class="tags">
                Tags: {%for tag in entry.tags%} <a href="/tag/{{tag|urlencode}}" rel="tag">{{tag}}</a> {%endfor%}
            </p>
        </div>
    	{% include "comments.html" %}
    {% endif %}
    
    	
    	{% include "sidebar.html" %}
{% endblock %}