<div id="sidebar">
<ul>
    <li>
        <form action="http://www.google.com/custom" id="searchform" method="get" target="google_window">
            <label for="s" class="screen-reader-text">
                Search
            </label>
            <div class="field-place">
                <input type="text" class="field" id="q" name="q" value=""/><input type="submit" class="button" value="Search" id="searchsubmit"/>
            </div>
        </form>
    </li>
</ul>
<ul role="navigation">
    <li >
        <h2>Tweet</h2>
        <ul>
            <li class="page_item page-item-2">
                {{tweet.text}}
            </li>
        </ul>
    </li>
    <li class="pagenav">
        <h2>Pages</h2>
        <ul>
            <li class="page_item page-item-2">
                <a href="{{blog.baseurl}}/about" title="About">About</a>
            </li>
        </ul>
    </li>
    <li>
        <h2>Archives</h2>
        <ul>
            {%for archive in archives%}
                <li>
                    <a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a>
                </li>
            {%endfor%}
        </ul>
    </li>
    <li class="categories">
        <h2>Categories</h2>
        <ul>
            {%for cate in categories%}
                <li class="cat-item cat-item-5">
                    <a href="/category/{{cate.slug}}">{{cate.name}}</a>
                </li>
            {%endfor%}
        </ul>
    </li>
</ul>

<ul>
    <li id="linkcat-2" class="linkcat">
        <h2>Blogroll</h2>
        <ul class='xoxo blogroll'>
            {%for link in blogroll%}
                <li>
                    <a href="{{link.href}}" target="_blank">{{link.linktext}}</a>
                </li>
            {%endfor%}
        </ul>
    </li>
    <li>
        <h2>Meta</h2>
        <ul>
            <li>
            	{%if self.is_login%}
					<a href="{{self.logouturl}}">Logout</a>
				{%else%}
					<a href="/admin">Login</a>
				{%endif%}
            </li>
            <li>
                <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid 
                    <abbr title="eXtensible HyperText Markup Language">
                        XHTML
                    </abbr>
                </a>
            </li>
        </ul>
    </li>
</ul>
</div>
