{% extends "base.html" %}
{% block content %}
<p><img src="http://farm5.static.flickr.com/4056/4634454560_be214b7d96_o.jpg"> </p>
<style type="text/css">
  #goog-wm { }
  #goog-wm h3.closest-match { }
  #goog-wm h3.closest-match a { }
  #goog-wm h3.other-things { }
  #goog-wm ul li { }
  #goog-wm li.search-goog { display: block; }
</style>
<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'en_US';
  var GOOG_FIXURL_SITE = 'http://xuming.net/';
</script>
<script type="text/javascript" 
    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}